.symbols-stripe {
  display: flex;
  flex-direction: column;
  width: auto;
  position: absolute;
  transition: top 1.2s ease;
}

.symbols-stripe img {
  width: 150px;
  height: 150px;
  margin: 10px;
}

.symbol-image-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 220px;
}

/* .symbol-current {
  background: #80DAEB;
  transition: background 4s ease;
} */

@keyframes currentAnimation {
  0% {
    /* background: transparent; */
  }
  100% {
    background: white;
  }
}

.symbol-current {
  animation-name: currentAnimation;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
  animation-direction: alternate;
}

.initial {
  animation-name: initialAnimation;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
  animation-direction: alternate;
}

@keyframes initialAnimation {
  0% {
    background: initial;
  }

  100% {
    /* background: #f88da7; */
    background: #e90e48;
  }
}

.medium-symbol {
  background: #93d6ec;
}

.high-symbol {
  /* background: #ffa500; */
  background: #f2295c;
}
/*
med #93d6ec
*/

/*
high #ffa500
*/

.win-animate {
  animation-name: winAnimation;
  animation-duration: 0.3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
  animation-direction: alternate;
}

@keyframes winAnimation {
  0% {
    background: blue;
  }

  100% {
    background: yellow;
  }
}




