.bet-buttons-wrapper {
  display: flex;
}

.bet-one-wrapper {
  display: flex;
  align-items: center;
}

.bet-one-button {
  margin: 10px;
  margin-left: 0;
  width: 45px;
  height: 45px;
  border: 2px solid #444;
  background: #02bdf7;
  border-radius: 10px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-weight: 500;
  font-size: 52px;
  transition: all 0.1s ease;
  box-shadow: 5px 5px 3px -1px rgba(2,2,2,0.27);
  text-shadow: 2px 3px 7px #000000;
  letter-spacing: 1.5px;
  z-index: 4;
}

/*
light red #ed1950
*/

.bet-one-button:hover {
  font-size: 49px;
  transition: all 0.2s ease;
}

.bet-one-button:active {
  background: #02bdf7;
  border-color: white;
  font-size: 45px;
  text-shadow: 4px 5px 7px #000000;
  transition: all 0.1s ease;
  outline: none;
  box-shadow: none;
}

.bet-big {
  width: 90px;
  height: 90px;
  font-size: 30px;
}

.bet-big:hover {
  font-size: 31px;
}

.bet-big:active {
  font-size: 29px;
  background: #02bdf7;
  border-color: #999;
}

.clear-bet {
  font-size: 20px;
  width: 70px;
  height: 70px;
  background: #ff0045;
}

.clear-bet:hover {
  font-size: 21px;
}

.clear-bet:active{
  font-size: 19px;
  /* background: #ed1950; */
  background: #ff0045;
}
